* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: #000000;
}

.menu {
	position: fixed;
	text-align: center;
	width: 100%;
	height: 55px;
	background-color: #3468FC;
}

.menu a {
	color: white;
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
}

.menu p {
	display: inline;
	color: white;
	margin-right: 10px;
	margin-left: 10px;
}

.menu a:hover {
	background-color: white;
	color: #3468FC;
	text-decoration: none;
}

#T_menu {
	margin-top: 17px;
}

#H_menu {
	font-weight: bold;
	text-align: left;
	font-size: 25px;
	margin-top: 9px;

}

#L_menu {
	text-align: right;
	margin-top: 17px;
}


.text-box {
  width: 320px;
  height: 30px;
}

.pixescolha {
  height: 40px;
}

.mesmalinha {
  display: inline-block;
}


.details {
	display: flex;
	flex-direction: column;
	border: 3px solid #3468FC; 
	margin: 20px;
	margin-top: 50px;
	border-radius: 20px;
	padding-left: 50px;
}

.personal-info, .bank-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 100px;
}

#title {
	margin-top: 10px;
	font-size: 40px;
	font-weight: 500;
}

#subtitle {
	font-size: 20px;
	font-weight: 500;
}

.interior {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #E2EAFF;
	border: 1px solid darkblue;
	border-radius: 10px;
	width: 25rem;
	height: 4.5rem;
	font-size: 18px;
}

.half {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 130px;
}